
{% extends "_layouts/wrapper" %}

{% block main %}

    {% for block in entry.hero.all() %}
        <div class="hero">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 col-md-6 offset-md-3 h-100">

                        <div class="hero__content">
                            <h1 class="sr-only">{# Title #}</h1>
                            <h2 class="h1">{{ block.hero_title }}</h2>
                            <p class="intro">{{ block.hero_introduction }}</p>
                            {% if block.hero_link_button %}
                                <a class="link link--white link--lrg" href="{{ block.hero_link_button }}">{{ block.hero_link_text }}</a>
                            {% endif %}
                        </div>

                        {# Was unsure how to add a matrix group, inside the hero matrix group for these tabs #}
                        <div class="hero__tabs">
                            <ul>
                                <li><a class="active" href="#">1. Innovation Partner</a></li>
                                <li><a href="#">2. Top Class Team</a></li>
                                <li><a href="#">3. Corporate Solutions</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="tabs">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <ul>
                        <li><a class="active" href="#">Active Tab</a></li>
                        <li><a href="#">Hovered Tab</a></li>
                        <li class="inactive"><a class="inactive" href="#">Inactive Tab</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="card-grid">
        <div class="container">
            <div class="row">

            {% for entry in entry.homepage_pages.all() %}
            {% set image = entry.image.one() %}
            {% set previewText = entry.preview_text %}

                <div class="col-12 col-md-4">
                    <div class="card home"> 
                    {% if image %}
                        <div class="image" style="background-image: url('{{ image.url }}')">
                            <img class="img-responsive vis-hidden" src="{{ image.url }}" alt="" />
                        </div>
                    {% endif %} 
                        <h3>{{ entry.title }}</h3>
                        {% if previewText %} 
                            <p>{{ previewText }}</p> 
                        {% endif %} 
                        <a class="link link--blue link--sml" href="{{ entry.url }}">Link and Arrow ></a>
                    </div>
                </div>
            {% endfor %}

            </div>
        </div>
    </div>

    <div class="feature-grid">
        <div class="container">

            {% for entry in entry.featured_grid.all() %}
            {% set image = entry.image.one() %}
            {% set previewText = entry.preview_text %}

                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="feature-grid__content">
                            {% if image %}
                                <div class="image" style="background-image: url('{{ image.url }}')">
                                    <img class="img-responsive vis-hidden" src="{{ image.url }}" alt="" />
                                </div>
                            {% endif %} 
                        </div>
                    </div>
                    <div class="col-12 col-md-5 offset-md-1">
                        <div class="feature-grid__content h-100">     
                            <h2 class="h1">{{ entry.title }}</h2>
                            {% if previewText %} 
                                <p>{{ previewText }}</p> 
                            {% endif %} 
                            <a class="link link--white link--lrg link--relative" href="{{ entry.url }}">Link and Arrow ></a>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>


{% endblock %}
